:root {
    --bui-bg: transparent !important;

    .bui-Button {
        border-radius: 20pt !important;
    }
}

[data-theme-mode='light'] {
    /* Light theme specific styles */
    --bui-bg: #fff;
    --bui-fg-primary: #555;
}

[data-theme-mode='dark'] {
    /* Dark theme specific styles */
    --bui-bg: #000;
    /*#220;*/
    --bui-fg-primary: #888;
}