.stitchAppLoading {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  top: 0;
  gap: 30pt;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: visibility 0s, opacity 0.5s linear;
}